#copy {
  padding: 0px 67px;
  width: 572px;
  .portfolio-title {
    font-family: Inter;
    font-size: 64px;
    color: #000000;
    font-weight: 700;
    line-height: 77.45px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0px;
  }

  .portfolio-subheading {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #828282;
    margin: 0px;
  }
}
